body {
    margin: 0;
    font: 12px Tahoma;
    background: #1f1f1f;
    color: #eaeaea;
}

a {
    color: aqua;
    text-decoration: none;
}

a li {
    color: #ffc9c9;
}

a li:hover {
    color: #fff;
}

.logo {
    background-image: url("img/logo.png");
    height: 100px;
    width: 300px;
}

.left_block {
    border-right: 1px solid #282828;
    margin: -100px -10px -10px;
    padding: 10px;
    background: #1f1f1f url("img/bg.png");
    height: 100%;
    position: fixed;
    width: 300px;
}

.left_menu {
    padding: 10px;
    list-style: none;
}

.left_menu li {
    font-size: 14px;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.left_menu li:hover {
    background: rgba(0, 0, 0, 0.5);
}

.right_block {
    margin-top: 20px;
    padding: 10px 20px;
    margin-left: 315px;
}

.header {
    width: 100%;
    height: 100px;
    background-image: url("img/header.png");
}

.i_message {
    color: #afafaf;
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.i_message h1 {
    color: #fff;
    background: rgba(215, 40, 40, 0.9);
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: normal;
    margin: -20px -20px 20px;
}

.i_message table { width: 100%; }
.i_message tr { width: 100%; }
.i_message tr td { width: 33%; padding: 10px; background: #1a1a1a; }

.i_error {
    background-color: #c6292b;
    color: #eaeaea;
    padding: 10px;
}

td.main {
    background-color: rgba(215, 40, 40, 0.9) !important;
    padding: 10px;
}